.footer {
    display: flex;
}

.footer div {
    color: white;
    width: 50%;
    place-self: center;
}

.footer p {
    height: 3rem;
    line-height: 3rem;
    margin: auto;
}

.footer a {
    color: white;
    text-decoration: underline;
}

.footer ul {
    margin: 0;
}