.wrapper {
    min-height: 100vh;
}

.main {
    width: 60rem;
    max-width: 100%;
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .main {
        max-width: 20rem;
    }
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bar-of-progress {
    z-index: 50;
}

.nav-link>a {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand>a {
    color: white;
}

.chart {
    margin: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.chart>p {
    margin: 0;
}

.grayed-out {
    opacity: 0.6;
    filter: grayscale(100%);
}